@charset "UTF-8";
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR';
  letter-spacing: -0.05em;
}

body {
  -webkit-text-size-adjust: none;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

input, select, textarea, fieldset, button {
  outline: none;
  margin: 0;
  padding: 0;
  width: auto;
  min-width: auto;
  border: 0;
  font-family: 'Noto Sans KR';
}

table {
  width: 100%;
  table-layout: fixed;
  padding: 0;
  border: 0;
  border-spacing: 0px;
  border-collapse: collapse;
}

em {
  font-style: normal;
}

textarea {
  resize: none;
}

.hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

img {
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/NotoSansKR-Thin.woff2) format("woff2"), url(../fonts/NotoSansKR-Thin.woff) format("woff");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/NotoSansKR-Light.woff2) format("woff2"), url(../fonts/NotoSansKR-Light.woff) format("woff");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSansKR-Regular.woff2) format("woff2"), url(../fonts/NotoSansKR-Regular.woff) format("woff");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NotoSansKR-Medium.woff2) format("woff2"), url(../fonts/NotoSansKR-Medium.woff) format("woff");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NotoSansKR-Bold.woff2) format("woff2"), url(../fonts/NotoSansKR-Bold.woff) format("woff");
}

.section {
  width: 100%;
  min-width: 87.5rem;
}

.section.has-after-bg {
  position: relative;
}

.section.has-after-bg:after {
  content: '';
  width: 100%;
  height: 75vh;
  background-color: #f3f5f8;
  position: absolute;
  top: 6.875rem;
  z-index: -1;
}

.wrapper {
  width: 100%;
  max-width: 87.5rem;
  margin: auto;
}

.content {
  margin-bottom: 0.625rem;
}

.write-content {
  margin-bottom: 10rem;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right;
}

.m-t-40 {
  margin-top: 2.5rem;
}

.m-t-7 {
  margin-top: 0.4375rem;
}

.m-l-5 {
  margin-left: 0.3125rem;
}

.file-control {
  margin-top: 0.625rem;
}

.m-b-10 {
  margin-bottom: 0.625rem;
}

.m-t-10 {
  margin-top: 0.625rem;
}

.m-l-15 {
  margin-left: 0.9375rem;
}

.p-r-285 {
  padding-right: 17.8125rem;
}

.header {
  width: 100%;
  min-width: 75rem;
  background-color: #fff;
  height: 4.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.125rem solid #eeeeee;
}

.header.on {
  border-bottom: 0.0625rem solid transparent;
}

.header.on:after {
  content: '';
  width: 100%;
  height: 15rem;
  background-color: #fafafa;
  position: absolute;
  left: 0;
  top: 4.75rem;
  z-index: 99;
  border-bottom: 0.0625rem solid #eeeeee;
}

.header .logo img {
  vertical-align: middle;
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .wrapper .gnb {
  width: 100%;
}

.header .wrapper .gnb > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .wrapper .gnb > ul > li {
  position: relative;
  width: 10.3125rem;
  text-align: center;
}

.header .wrapper .gnb > ul > li:last-child {
  margin-right: 0;
}

.header .wrapper .gnb > ul > li a {
  display: block;
  color: #746661;
  font-size: 1.375rem;
  line-height: 4.75rem;
  font-weight: 500;
}

.header .wrapper .gnb > ul > li a:hover {
  font-weight: 700;
  color: #A72b2a;
}

.header .wrapper .gnb > ul > li.on a {
  font-weight: 600;
}

.header .wrapper .gnb > ul > li.on:after {
  content: '';
  width: 100%;
  height: 0.25rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #A72b2a;
}

.header .wrapper .gnb > ul > li .menudept {
  display: none;
  position: absolute;
  width: 100%;
  height: 15rem;
  z-index: 100;
}

.header .wrapper .gnb > ul > li .menudept ul {
  padding-top: 1.125rem;
}

.header .wrapper .gnb > ul > li .menudept ul li a {
  font-size: 0.875rem;
  line-height: 2.375rem;
  color: #666666;
  font-weight: bold;
  display: inline;
}

.header .wrapper .gnb > ul > li .menudept ul li:hover a {
  color: #333333;
  border-bottom: 0.0625rem solid #333333;
}

.header .wrapper .gnb > ul:hover .menudept {
  display: block;
}

.header .wrapper .gnb:not(.on):hover:after {
  content: '';
  width: 100%;
  height: 15rem;
  background-color: #fafafa;
  position: absolute;
  left: 0;
  top: 4.75rem;
  z-index: 99;
  border-bottom: 0.0625rem solid #eeeeee;
}

.visual-img-banner {
  display: none;
  background-image: url(../images/visual-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.visual-img-banner .title {
  font-size: 2.625rem;
  line-height: 3.25rem;
  color: #fff;
  font-weight: 400;
  padding-top: 2.4375rem;
}

.visual-img-banner p {
  font-size: 0.875rem;
  line-height: 3.25rem;
  font-weight: 300;
  color: #fff;
  padding-top: 0.3125rem;
  padding-bottom: 1.875rem;
}

.location {
  background-color: #f8f8f8;
  border-top: 0.0625rem solid #dddddd;
  border-bottom: 0.0625rem solid #dddddd;
}

.location.fixed {
  position: fixed;
  top: 0;
  z-index: 10;
}

.location ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.location ul li a {
  height: 3.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 0.0625rem solid #dddddd;
  font-size: 0.875rem;
  color: #666666;
}

.location ul li:last-child a {
  border-right: 0.0625rem solid #dddddd;
  color: #333333;
}

.location ul li.home a {
  width: 3.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.location ul li.oneDept a, .location ul li.twoDept a, .location ul li.threeDept a {
  padding-left: 1.25rem;
  padding-right: 5rem;
}

.location ul li.oneDept, .location ul li.twoDept, .location ul li.threeDept {
  position: relative;
}

.location ul li.oneDept:after, .location ul li.twoDept:after, .location ul li.threeDept:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1.25rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../images/select_under_arrow.png);
  width: 0.625rem;
  height: 0.375rem;
}

.location ul li .dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  border: 0.0625rem solid #dddddd;
  border-top: 0.0625rem solid transparent;
  z-index: 90;
}

.location ul li .dropdown-menu.active {
  display: block;
}

.location ul li .dropdown-menu li {
  background-color: #fff;
}

.location ul li .dropdown-menu li a {
  padding-right: 0;
  border: 0.0625rem solid transparent;
}

.location ul li .dropdown-menu li a:hover {
  background-color: #A72b2a;
  color: #fff;
}

.page-title {
  font-size: 2.25rem;
  line-height: 3.25rem;
  font-weight: 500;
  color: #333;
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 3.75rem;
}

.table-title {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.4375rem;
}

.title-has-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.75rem;
}

.title-has-btn .prefix, .title-has-btn .suffix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-has-btn .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.title-has-btn .table-title {
  margin: 0;
}

.title-has-btn .btn + .btn {
  margin-left: 0.625rem;
}

.title-has-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title-has-checkbox .prefix, .title-has-checkbox .suffix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-has-checkbox .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.table tr th, .table tr td {
  text-align: center;
  height: 2.5rem;
  border-top: 0.0625rem solid #eaeaea;
  border-bottom: 0.0625rem solid #eaeaea;
  font-size: 0.875rem;
  vertical-align: middle;
  border-collapse: collapse;
}

.table tr th {
  font-weight: 500;
}

.table tr th.bg-white {
  background-color: #fafafa !important;
  border-right: 0.0625rem solid #eaeaea;
}

.table tr th.bg-blue {
  background-color: #f8f9ff;
  border-right: 0.0625rem solid #eaeaea;
  border-left: 0.0625rem solid #eaeaea;
}

.table tr td {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.table tr td.title {
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table tr.light-white-bg th {
  background-color: #f5f5f5;
}

.table tr.center-colum td {
  text-align: center !important;
}

.table tr.left-colum td {
  text-align: left !important;
}

.table.write-form tr th, .table.write-form tr td {
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
}

.table.write-form tr td {
  text-align: left;
}

.table.write-form-b tr td {
  padding: 0.4375rem 1.25rem;
  text-align: left;
}

.table.write-form-b tr td.textarea {
  padding: 1.25rem;
}

.table.write-form-b tr td.textarea textarea {
  height: 17.5rem;
}

.table.write-form-b tr th, .table.write-form-b tr td {
  border-bottom: 0.0625rem solid #eaeaea;
}

.table.file-list-table {
  border: 0.0625rem solid #cccccc;
  margin-top: 0.625rem;
  margin-bottom: 2.9375rem;
}

.table.file-list-table tr th {
  background-color: #eeeeee;
  border-right: 0.0625rem solid #cccccc;
  border-top: 0.0625rem solid #cccccc;
}

.table.file-list-table tr th, .table.file-list-table tr td {
  font-family: 'Dotum';
  font-size: 0.75rem;
  padding: 0.375rem;
  height: auto;
}

.table.file-list-table tr td {
  text-align: center !important;
}

.table.file-list-table tr td:nth-child(2) {
  text-align: left !important;
}

.table.file-list-table input[type='checkbox'] + label:before {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 0.125rem;
}

.table.file-list-table input[type='checkbox']:checked + label:after {
  width: 0.625rem;
  height: 0.625rem;
}

.table.td-left tr td {
  text-align: left;
}

.table-footer {
  text-align: right;
  margin-top: 1.25rem;
}

.table-footer .btn + .btn {
  margin-left: 0.3125rem;
}

.table-footer.has-margin {
  margin-bottom: 6.25rem;
}

.table-border-top {
  border-top: 0.0625rem solid #000;
}

.checkbox-colum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox-colum input[type='checkbox'] + label {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.none-data {
  line-height: 25rem;
  text-align: center;
}

.none-data.has-border {
  border-top: 0.0625rem solid #cccccc;
  border-bottom: 0.0625rem solid #cccccc;
}

.left-table tr td {
  text-align: left;
}

.table-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.8125rem;
}

.table-search .prefix, .table-search .suffix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-search .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.table-search .prefix {
  font-size: 0.8125rem;
  line-height: 3.25rem;
  color: #777777;
}

.table-search .prefix span {
  color: #A72b2a;
}

.table-search .suffix ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-search .suffix ul li.colum {
  margin-right: 0.25rem;
}

.table-search .suffix ul li.colum select {
  width: 6.625rem;
}

.table-search .suffix ul li.date-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-search .suffix ul li.date-list ul li {
  position: relative;
}

.table-search .suffix ul li.date-list ul li input[type='text'] {
  width: 7.5rem;
  padding-left: 2.125rem;
}

.table-search .suffix ul li.date-list ul li img {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.table-search .suffix ul li.date-list ul li:nth-child(2) {
  margin: 0 0.625rem;
}

.table-search .suffix ul li.category {
  margin-left: 0.875rem;
}

.table-search .suffix ul li.category select {
  width: 8.125rem;
}

.table-search .suffix ul li.category.la-type select {
  width: 12.5rem;
}

.table-search .suffix ul li.search-bar {
  margin: 0 0.3125rem;
}

.table-search .suffix ul li.search-bar input[type="text"] {
  width: 16.25rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select {
  border: 0.0625rem solid #cccccc;
  padding: 0 0.8125rem;
  height: 2rem;
  color: #666666;
  width: 100%;
  font-size: 0.8125rem;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Select box 스타일 초기화 */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* IE 에서 Select box 화살표 제거 */
select::-ms-expand {
  display: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 0.8125rem;
  color: #c0c0c0;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 0.8125rem;
  color: #c0c0c0;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-size: 0.8125rem;
  color: #c0c0c0;
}

input::placeholder,
textarea::placeholder {
  font-size: 0.8125rem;
  color: #c0c0c0;
}

select {
  background-image: url(../images/select_under_arrow.png);
  background-repeat: no-repeat;
  background-position: 93%;
}

input[type='text'].datepicker {
  padding-left: 2.25rem;
}

textarea {
  border: 0.0625rem solid #cccccc;
  width: 100%;
  padding: 0.8125rem;
  font-size: 0.8125rem;
}

input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

input[type="file"] + label {
  display: inline-block;
  font-size: 0.8125rem;
  font-weight: 500;
  color: #666666;
  border: 0.0625rem solid #cccccc;
  border-radius: 0.125rem;
  padding: 0 0.875rem;
  line-height: 1.625rem;
}

input[type="file"] + label + a {
  margin-left: 0.25rem;
}

.fixed-select {
  width: 29.875rem;
  background-position: 97%;
}

input[type='checkbox'] {
  position: absolute;
  width: 1px;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

input[type='checkbox'] + label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

input[type='checkbox'] + label span {
  padding-left: 0.8125rem;
  font-size: 0.8125rem;
  line-height: 1.5rem;
  color: #666666;
}

input[type='checkbox'] + label:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1.375rem;
  height: 1.375rem;
  border: 0.0625rem solid #cccccc;
  background-color: #fff;
}

input[type='checkbox']:checked + label:before {
  border: 0.0625rem solid #A72b2a;
  background-image: url(../images/check_on.png);
  background-position: center;
  background-repeat: no-repeat;
}

input[type='radio'] {
  position: absolute;
  width: 1px;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

input[type='radio'] + label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 0.875rem;
  color: #666666;
  padding-left: 1.75rem;
}

input[type='radio'] + label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../images/radio_off.png);
  width: 1.125rem;
  height: 1.125rem;
}

input[type='radio']:checked + label:after {
  background-image: url(../images/radio_on.png);
}

.input-sm-type {
  width: 120px !important;
}

.btn {
  display: inline-block;
  text-align: center;
}

.btn.round-btn {
  border-radius: 0.125rem;
}

.btn.round2-btn {
  border-radius: 0.1875rem;
}

.btn.btn-black {
  background-color: #464950;
  color: #fff;
}

.btn.btn-light-gray {
  background: #dddddd;
  color: #666666;
}

.btn.btn-sm {
  font-size: 0.8125rem;
  padding: 0 1.25rem;
  line-height: 2rem;
}

.btn.btn-md {
  font-size: 1rem;
  padding: 0 2.25rem;
  line-height: 2.5rem;
}

.btn.btn-md2 {
  font-size: 1rem;
  line-height: 3.25rem;
  padding: 0 2.875rem;
}

.btn.btn-border {
  border: 0.0625rem solid #000;
  font-weight: 500;
}

.btn.btn-border.gray-border {
  border: 0.0625rem solid #cccccc;
}

.btn.btn-red {
  background-color: #A72b2a;
  color: #fff;
}

.btn.btn-close {
  position: relative;
  display: inline-block;
  font-size: 0.8125rem;
  font-weight: 500;
  color: #666666;
  padding-left: 2rem;
  padding-right: 1.0625rem;
  line-height: 1.625rem;
}

.btn.btn-close i {
  position: absolute;
  left: 1.0625rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.btn-wrap .btn + .btn {
  margin-left: 0.625rem;
}

.file-upload-btn {
  display: inline-block;
  font-size: 0.8125rem;
  font-weight: 500;
  color: #666666;
  border: 0.0625rem solid #cccccc;
  border-radius: 0.125rem;
  padding: 0 0.875rem;
  line-height: 1.625rem;
  background-color: white;
  cursor: pointer;
}

.icon-home {
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/ico-home.png);
  width: 0.875rem;
  height: 0.875rem;
}

.icon-clip {
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/ico-clip.png);
  width: 1.125rem;
  height: 1rem;
}

.icon-arrow-next {
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/arrow_next.png);
  width: 1.125rem;
  height: 0.625rem;
}

.icon-arrow-prev {
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/arrow_prev.png);
  width: 1.125rem;
  height: 0.625rem;
}

.icon-close {
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/ico-close.png);
  width: 0.375rem;
  height: 0.375rem;
}

.icon-down {
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/ico_down.png);
  width: 0.875rem;
  height: 0.875rem;
}

.detail-content {
  margin-bottom: 6.25rem;
}

.detail-content .content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1.25rem;
  background-color: #f5f5f5;
  border-top: 0.0625rem solid #000;
}

.detail-content .content-header .prefix, .detail-content .content-header .suffix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail-content .content-header .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.detail-content .content-header .prefix {
  font-size: 0.875rem;
  line-height: 3.25rem;
  font-weight: 500;
}

.detail-content .content-header .suffix p {
  color: #000;
  font-size: 0.875rem;
  line-height: 3.0625rem;
}

.detail-content .content-header.under-border-type {
  background-color: #fff;
  border-bottom: 0.0625rem solid #eaeaea;
}

.detail-content .content-body {
  font-size: 0.875rem;
  color: #000;
  line-height: 1.75rem;
  padding: 1.25rem 2rem;
  min-height: 28.125rem;
  border-bottom: 0.0625rem solid #eaeaea;
}

.detail-content .attachments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.0625rem solid #eaeaea;
}

.detail-content .attachments .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f5f5;
  font-size: 0.8125rem;
  line-height: 3.0625rem;
  color: #000;
  padding-left: 1.4375rem;
  width: 8.125rem;
}

.detail-content .attachments .left i {
  margin-left: 0.875rem;
}

.detail-content .attachments .file-list {
  padding-left: 1.5rem;
}

.detail-content .attachments .file-list ul li {
  font-size: 0.875rem;
  line-height: 3.0625rem;
  color: #000;
  padding: 0 0.3125rem;
}

.detail-content .attachments .file-list ul li a {
  font-size: 0.875rem;
  line-height: 3.0625rem;
  color: #000;
  padding: 0 0.3125rem;
  border-bottom: 0.0625rem solid #666666;
  cursor: pointer;
}

.detail-content .content-footer {
  text-align: center;
  margin-top: 2.5rem;
}

.detail-content .content-footer.right-type {
  text-align: right;
}

.detail-content .content-footer .btn + .btn {
  margin-left: 0.625rem;
}

.table-type-paging {
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  margin-top: 1.25rem;
}

.table-type-paging ul li.prev {
  border-bottom: 0.0625rem solid #eaeaea;
}

.table-type-paging ul li.prev, .table-type-paging ul li.next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.25rem;
}

.table-type-paging ul li.prev .post, .table-type-paging ul li.next .post {
  position: relative;
  width: 8.125rem;
  font-size: 0.9375rem;
  line-height: 3.0625rem;
  border-right: 0.0625rem solid #eaeaea;
}

.table-type-paging ul li.prev .post i, .table-type-paging ul li.next .post i {
  margin-left: 2.3125rem;
}

.table-type-paging ul li.prev .post-info, .table-type-paging ul li.next .post-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 0.875rem;
  line-height: 3.0625rem;
  padding-left: 1.25rem;
}

.table-type-paging ul li.prev .post-info .post-title, .table-type-paging ul li.next .post-info .post-title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.table-type-paging ul li.prev .post-info .date, .table-type-paging ul li.next .post-info .date {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.paging {
  margin-top: 2.5rem;
}

.paging ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.paging ul li {
  font-size: 1.125rem;
  line-height: 1.875rem;
  color: #666666;
}

.paging ul li.first, .paging ul li.prev, .paging ul li.next, .paging ul li.last {
  width: 1.875rem;
}

.paging ul li.first a, .paging ul li.prev a, .paging ul li.next a, .paging ul li.last a {
  position: relative;
  display: block;
  text-indent: -999px;
  overflow: hidden;
}

.paging ul li.first a:after, .paging ul li.prev a:after, .paging ul li.next a:after, .paging ul li.last a:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.875rem;
  height: 1.875rem;
}

.paging ul li.first {
  margin-right: 0.5rem;
}

.paging ul li.first a:after {
  background-image: url(../images/paging_frist.png);
}

.paging ul li.prev a:after {
  background-image: url(../images/paging_prev.png);
}

.paging ul li.next {
  margin-right: 0.5rem;
}

.paging ul li.next a:after {
  background-image: url(../images/paging_next.png);
}

.paging ul li.last a:after {
  background-image: url(../images/paging_last.png);
}

.paging ul li.numbering {
  margin: 0 1.875rem;
}

.paging ul li.numbering ul li a {
  display: block;
  width: 1.875rem;
  text-align: center;
  line-height: 1.875rem;
}

.paging ul li.on a {
  font-size: 1.125rem;
  color: #A72b2a;
}

.download-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.download-list li {
  margin-right: 0.9375rem;
}

.download-list li:last-child {
  margin-right: 0;
}

.download-list li a {
  border-bottom: 0.0625rem solid #666666;
  cursor: pointer;
}

.radio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.radio-list li {
  margin-right: 1.8125rem;
}

.radio-list li:last-child {
  margin-right: 0;
}

.won {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.won input[type='text'] {
  text-align: right;
}

.won span {
  margin-left: 0.625rem;
}

.panel {
  display: none;
}

.faq-accordion {
  border-top: 0.0625rem solid #000;
}

.faq-accordion .accordion {
  position: relative;
  padding: 0.625rem 1.5rem;
  border-bottom: 0.0625rem solid #cccccc;
  cursor: pointer;
}

.faq-accordion .accordion:after, .faq-accordion .accordion:before {
  content: '';
  width: 1.25rem;
  height: 0.125rem;
  background-color: #464950;
  position: absolute;
  right: 3.3125rem;
  top: 50%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.faq-accordion .accordion:before {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.faq-accordion .accordion span {
  float: left;
  font-size: 1.375rem;
  line-height: 2.125rem;
  color: #333;
}

.faq-accordion .accordion span:after {
  content: '';
  clear: both;
  display: block;
}

.faq-accordion .accordion p {
  padding-left: 1.875rem;
  font-size: 1.125rem;
  line-height: 2.125rem;
  padding-right: 5rem;
}

.faq-accordion .accordion.active {
  border-bottom: 0.0625rem solid transparent;
}

.faq-accordion .accordion.active:before {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.faq-accordion .accordion.active span, .faq-accordion .accordion.active p {
  font-weight: 500;
}

.faq-accordion .panel {
  padding: 1.25rem 1.5rem;
  border-bottom: 0.0625rem solid #cccccc;
}

.faq-accordion .panel span {
  font-size: 1.375rem;
}

.faq-accordion .panel {
  background-color: #f8f8f8;
  padding-left: 1.5625rem;
}

.faq-accordion .panel span {
  position: absolute;
  color: #A72b2a;
  font-weight: 500;
}

.faq-accordion .panel .ask {
  font-size: 1.125rem;
  line-height: 2.125rem;
  padding-left: 1.875rem;
}

.faq-accordion .panel .ask * {
  position: relative;
  font-size: 1.125rem;
  line-height: 2.125rem;
}

.faq-accordion .accordion-footer {
  text-align: center;
  margin-top: 0.625rem;
}

.faq-accordion .accordion-footer .btn {
  font-size: 1rem;
  line-height: 3.25rem;
  color: #666666;
  font-weight: 500;
}

.tab-content {
  display: none;
}

.tab-content.current {
  display: block;
}

.tab-banner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3.75rem;
}

.tab-banner ul li {
  text-align: center;
  border: 0.0625rem solid #e0e0e0;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  height: 3.75rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 21%;
          flex: 1 1 21%;
}

.tab-banner ul li a {
  display: block;
  font-size: 1rem;
  line-height: 3.75rem;
  color: #666666;
}

.tab-banner ul li:nth-child(4), .tab-banner ul li:nth-child(8) {
  border-right: 0.0625rem solid #e0e0e0;
}

.tab-banner ul li:nth-child(5), .tab-banner ul li:nth-child(6), .tab-banner ul li:nth-child(7), .tab-banner ul li:nth-child(8) {
  border-bottom: 0.0625rem solid #e0e0e0;
}

.tab-banner ul li.current {
  border: 0.125rem solid #A72b2a;
}

.tab-banner ul li.current a {
  color: #A72b2a;
}

.box {
  border: 0.0625rem solid #f0f0f0;
}

.box.img-box {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0;
}

.box.shadow-box {
  -webkit-box-shadow: 0.3125rem 0.3125rem 0.4375rem rgba(0, 0, 0, 0.2);
          box-shadow: 0.3125rem 0.3125rem 0.4375rem rgba(0, 0, 0, 0.2);
}

.guide-list {
  margin-top: 5rem;
}

.guide-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.guide-list ul li {
  padding: 1.4375rem 0;
  padding-right: 6.25rem;
}

.guide-list ul li a {
  display: block;
  text-align: center;
}

.guide-list ul li a .img-banner {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 100%;
  background-color: #f0f0f0;
}

.guide-list ul li a .img-banner img {
  opacity: 0.5;
}

.guide-list ul li a .text-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d0d0d0;
  font-size: 1.875rem;
}

.guide-list ul li a .text-banner span {
  font-size: 1.25rem;
  line-height: 2.375rem;
  color: #666666;
  padding: 0 0.875rem;
}

.guide-list ul li:hover a .img-banner {
  background-color: #d8edff;
}

.guide-list ul li:hover a .img-banner img {
  opacity: 1;
}

.guide-list ul li:hover a .text-banner span {
  color: #333333;
  font-weight: 500;
}

.guide-list ul li:nth-child(2) {
  border-right: 0.0625rem solid #ececec;
  padding-right: 3.75rem;
}

.guide-list ul li:nth-child(3) {
  padding-left: 3.75rem;
}

.guide-list ul li:last-child {
  padding-right: 0;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #000;
  text-align: center;
  border-radius: 0.375rem;
  padding: 0.3125rem 0;
  position: absolute;
  z-index: 2;
}

.tooltip .tooltiptext:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 5px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.select-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select-date li {
  position: relative;
  padding-right: 0.625rem;
}

.select-date li input[type='text'] {
  width: 7.5rem;
}

.select-date li select {
  width: 7.5rem;
}

.select-date li .ui-datepicker-trigger {
  position: absolute;
  left: 0.5625rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.attachment-box {
  border: 0.0625rem solid #dddddd;
}

.attachment-box .explan {
  padding: 1.9375rem 1.9375rem 1.25rem 1.9375rem;
}

.attachment-box .explan ul li {
  font-size: 0.875rem;
  line-height: 1.625rem;
  color: #666666;
}

.attachment-box .file-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  border-top: 0.0625rem solid #dddddd;
  padding-left: 1.8125rem;
}

.attachment-box .file-list .prefix {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8125rem;
  line-height: 3.0625rem;
  color: #666666;
}

.attachment-box .file-list .prefix i {
  margin-left: 0.875rem;
}

.attachment-box .file-list .prefix:after {
  content: '';
  width: 0.0625rem;
  height: 0.75rem;
  background-color: #dddddd;
  position: absolute;
  right: -1.3125rem;
}

.attachment-box .file-list .suffix {
  margin-left: 3.125rem;
}

.attachment-box .file-list .suffix ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.attachment-box .file-list .suffix ul li {
  margin-right: 1.3125rem;
}

.attachment-box .file-list .suffix ul li a {
  border-bottom: 0.0625rem solid #666666;
  font-size: 0.875rem;
  line-height: 3.0625rem;
}

.attachment-box .file-list .suffix ul li:last-child {
  margin-right: 0;
}

.attachment-box.only-explan .explan {
  padding: 0.9375rem 1.9375rem 0.9375rem 1.9375rem;
}

.attachment-box.only-explan .explan ul li {
  margin-bottom: 0.3125rem;
}

.attachment-box.only-explan .explan ul li:last-child {
  margin-bottom: 0;
}

.attachment-box.only-file-list {
  border: 0.0625rem solid transparent;
}

.attachment-box.only-file-list .file-list {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: 0.0625rem solid transparent;
  background-color: #fff;
}

.attachment-box.only-file-list .file-list p {
  font-size: 0.875rem;
  line-height: 3.0625rem;
  color: #000;
}

.attachment-box.only-file-list .file-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.attachment-box.only-file-list .file-list ul li {
  margin-left: 0.75rem;
}

.attachment-box.only-file-list .file-list ul li a {
  font-size: 0.875rem;
  line-height: 3.0625rem;
  color: #000;
}

.table-wrap .table-title {
  margin-top: 2.125rem;
}

.table-wrap .title-has-btn {
  margin-top: 2.125rem;
}

.table-wrap .title-has-btn .table-title {
  margin-top: 0;
}

.canon-list {
  margin-left: 17.75rem;
}

.canon-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.canon-list ul li {
  background-position: center;
  background-size: cover;
  width: 22.25rem;
  height: 16.125rem;
  margin-right: 1rem;
}

.canon-list ul li .list-title {
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 300;
  padding-top: 6.875rem;
  color: #fff;
}

.canon-list ul li .list-title:after {
  content: '';
  background-image: url(../images/double-arrow.png);
  width: 1.1875rem;
  height: 1rem;
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0.9375rem;
  left: 13.5rem;
}

.canon-list ul li p {
  margin-top: 0.625rem;
  text-align: center;
  color: #fff;
}

.canon-list ul li:nth-child(1) {
  background-image: url(../images/canon-img-banner.png);
  margin-bottom: 1rem;
}

.canon-list ul li:nth-child(2) {
  background-image: url(../images/canon-img-banner02.png);
  margin-bottom: 1rem;
}

.canon-list ul li:nth-child(3) {
  background-image: url(../images/canon-img-banner03.png);
  margin-bottom: 1rem;
}

.canon-list ul li:nth-child(4) {
  background-image: url(../images/canon-img-banner04.png);
}

.canon-list ul li:nth-child(5) {
  background-image: url(../images/canon-img-banner05.png);
}

.canon-list ul li:nth-child(6) {
  background-image: url(../images/canon-img-banner06.png);
  margin-right: 0;
}

.left-fixed-menu {
  position: fixed;
  top: 16.25rem;
}

.left-fixed-menu ul li {
  width: 15rem;
  border-bottom: 0.0625rem solid #cccccc;
  padding: 0 0.875rem;
}

.left-fixed-menu ul li a {
  display: block;
  font-size: 0.875rem;
  line-height: 3rem;
}

.left-fixed-menu ul li:nth-child(1) {
  width: 100%;
  padding: 0;
  text-align: center;
  font-size: 1rem;
  line-height: 3rem;
  background-color: #333333;
  border-bottom: 0.0625rem solid transparent;
  color: #fff;
}

.left-fixed-menu ul li:nth-child(1) A {
  color: #fff;
}

.btn-list {
  border-bottom: 0.0625rem solid #000;
  margin-bottom: 0.9375rem;
}

.btn-list .list-title {
  font-size: 1.125rem;
  font-weight: 500;
  padding-bottom: 0.4375rem;
  margin-bottom: 0.4375rem;
}

.btn-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.25rem;
}

.btn-list ul li .btn:hover {
  background-color: #464950;
  color: #fff;
  border: 0.0625rem solid transparent;
}

.stock-img-banner {
  width: 100%;
  position: relative;
  margin-bottom: 5rem;
}

.stock-img-banner .text-banner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2rem;
  line-height: 3rem;
  color: #fff;
  font-weight: 500;
}

.stock-img-banner .text-banner span {
  display: block;
  font-size: 1.875rem;
  font-weight: 300;
  text-align: center;
}

.ethics-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 2rem 0;
  border-top: 0.0625rem solid #dddddd;
}

.ethics-list ul li:last-child {
  border-bottom: 0.0625rem solid #dddddd;
}

.ethics-list ul li .title {
  position: relative;
  font-size: 1.375rem;
  line-height: 1.75rem;
  color: #333;
  margin-right: 5.125rem;
  font-weight: 500;
  padding-left: 2.75rem;
}

.ethics-list ul li .title:after {
  content: '';
  width: 0.0625rem;
  height: 1.125rem;
  background-color: #dddddd;
  position: absolute;
  right: -2.4375rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ethics-list ul li .ethics-content {
  font-size: 1rem;
  line-height: 1.375rem;
  color: #666666;
}

.ethics-list ul li .ethics-content p {
  line-height: 1.875rem;
}

.code_of_ethics .intro-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.code_of_ethics .intro-banner p {
  position: relative;
  padding-left: 3.3125rem;
  font-size: 1.625rem;
  line-height: 2.375rem;
  color: #333;
  font-weight: 500;
}

.code_of_ethics .intro-banner p:after {
  content: '';
  position: absolute;
  left: 2.5rem;
  top: 0.4375rem;
  width: 0.25rem;
  height: 1.625rem;
  background-color: #A72b2a;
}

.code_of_ethics.has-bg {
  background-color: #f1f3f7;
  margin-top: -5rem;
}

.code_of_ethics .rule-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 8.75rem;
}

.code_of_ethics .rule-list li {
  padding-right: 0.6875rem;
}

.code_of_ethics .rule-list li:last-child {
  padding: 0;
}

.code_of_ethics .rule-list li a {
  font-size: 1rem;
  line-height: 3rem;
  color: #333;
}

.window-popup {
  width: 56.25rem;
  padding: 2.5rem 1.25rem;
}

.window-popup .popup-title {
  font-size: 1.25rem;
  line-height: 2.375rem;
  color: #333333;
  border-bottom: 0.125rem solid #A72b2a;
  margin-bottom: 2.5rem;
}

.window-popup .title-list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #333333;
}

.window-popup .title-list > li div {
  display: inline-block;
  min-width: 35.375rem;
  max-width: 48.75rem;
  text-align: justify;
}

.window-popup .title-list > li .title-list {
  padding-left: 1.5625rem;
}

.window-popup .sub-title {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #333333;
  margin-top: 2.5rem;
}

.window-popup .sub-dept-list > li {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #333333;
  padding-left: 1.25rem;
}

.window-popup .sub-dept-list.has-bar > li {
  position: relative;
}

.window-popup .sub-dept-list.has-bar > li:after {
  content: '';
  position: absolute;
  top: 0.6875rem;
  left: 0.875rem;
  width: 0.25rem;
  height: 0.0625rem;
  background-color: #666666;
}

.window-popup .sub-dept-list.has-bar.cirlce-type > li:after {
  height: 0.25rem;
  background-color: #3b3b3b;
  left: 0.625rem;
}

.window-popup .popup-footer {
  margin-top: 0.9375rem;
  text-align: center;
}

.window-popup .text-bar {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #666666;
}

.window-popup .img-banner {
  width: 100%;
}

.window-popup .img-banner img {
  width: 100%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.5rem;
}

.main .box {
  border: 0.125rem solid #f0f0f0;
}

.main .img-box {
  background-image: url(../images/main-img-banner.png);
  width: 58rem;
  height: 31.25rem;
  padding-top: 4rem;
  padding-left: 3.125rem;
}

.main .img-box .main-title {
  font-size: 2.75rem;
  color: #333333;
}

.main .img-box p {
  font-size: 1.25rem;
  line-height: 1.625rem;
  color: #555555;
  margin-top: 0.9375rem;
}

.main .report-banner {
  margin-left: 1.125rem;
}

.main .report-banner .title-banner {
  text-align: center;
  background: #fafafa;
}

.main .report-banner .title-banner h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #464950;
  font-weight: 500;
  padding-top: 2.1875rem;
}

.main .report-banner .title-banner h2 span {
  font-weight: 900;
}

.main .report-banner .title-banner p {
  font-size: 0.9375rem;
  line-height: 2rem;
  padding-bottom: 1.4375rem;
}

.main .report-banner .report-list {
  width: 27.875rem;
}

.main .report-banner .report-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .report-banner .report-list ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-bottom: 0.1875rem;
}

.main .report-banner .report-list ul li .report-title {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  margin-top: 1.3125rem;
  margin-left: 1.75rem;
}

.main .report-banner .report-list ul li .report-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  margin-bottom: 0.6875rem;
}

.main .report-banner .report-list ul li .report-content p {
  font-size: 0.75rem;
  line-height: 1rem;
  color: #666666;
}

.main .report-banner .report-list ul li .report-content .prefix {
  margin-right: 0.875rem;
}

.main .report-banner .report-list ul li .report-content .suffix p {
  margin-bottom: 1.4375rem;
}

.main .report-banner .report-list ul li .report-content .suffix .btn {
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0 1.375rem;
  height: 1.625rem;
  line-height: 1.625rem;
}

.main .report-banner .report-list ul li:nth-child(1), .main .report-banner .report-list ul li:nth-child(2) {
  border-bottom: 0.0625rem solid #f0f0f0;
}

.main .report-banner .report-list ul li:nth-child(odd) {
  position: relative;
}

.main .report-banner .report-list ul li:nth-child(odd):after {
  content: '';
  background-image: url(../images/height-line.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  width: 0.0625rem;
  height: 100%;
}

.main .report-banner .report-list ul li:nth-child(3) .report-content .suffix p, .main .report-banner .report-list ul li:nth-child(4) .report-content .suffix p {
  margin-bottom: 2.25rem;
}

.main .post-list {
  width: 100%;
}

.main .post-list > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .post-list > ul > li {
  width: 28.4375rem;
  margin-right: 1.125rem;
}

.main .post-list > ul > li:last-child {
  margin-right: 0;
}

.main .post-list .box {
  padding: 0 1.3125rem;
  padding-bottom: 1.875rem;
}

.main .post-list .post-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.0625rem solid #e0e0e0;
  margin-top: 2.25rem;
}

.main .post-list .post-title .prefix, .main .post-list .post-title .suffix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .post-list .post-title .suffix {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .post-list .post-title .prefix h1 {
  position: relative;
  font-size: 1.125rem;
  margin-bottom: 0.1875rem;
  color: #333333;
  font-weight: 400;
}

.main .post-list .post-title .prefix h1:after {
  content: '';
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: #A72b2a;
}

.main .post-list .post-title .suffix a {
  position: relative;
  font-size: 0.8125rem;
  line-height: 1.75rem;
  color: #808080;
  padding-right: 1.125rem;
}

.main .post-list .post-title .suffix a:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../images/ico-plus.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 0.625rem;
  height: 0.625rem;
}

.main .post-list .content-list ul li {
  max-width: 98%;
}

.main .post-list .content-list ul li a {
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: #606060;
  display: block;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.reul {
  margin-top: 10rem;
}

.reul .img-banner img {
  width: 100%;
}

.reul .lx-logo {
  margin-top: 4.375rem;
  text-align: center;
}

.reul .lx-logo p {
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: #333333;
  margin-top: 1.25rem;
}

.reul .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding: 2.5625rem;
  margin-top: 3.0625rem;
}

.reul .box .prefix,
.reul .box .suffix {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.reul .box .prefix .list-title,
.reul .box .suffix .list-title {
  display: inline-block;
  font-size: 1.25rem;
  border-bottom: 0.125rem solid #A72b2a;
}

.reul .box .prefix ul,
.reul .box .suffix ul {
  margin-top: 1.25rem;
}

.reul .box .prefix ul li a,
.reul .box .suffix ul li a {
  color: #333333;
  font-size: 1.0625rem;
  line-height: 2rem;
}

.reul .box .prefix ul li.down-list a,
.reul .box .suffix ul li.down-list a {
  border-bottom: 0.0625rem solid transparent;
}

.reul .box .prefix ul li.down-list a i,
.reul .box .suffix ul li.down-list a i {
  margin-left: 0.625rem;
}

.reul .box .prefix {
  border-right: 0.0625rem solid #e0e0e0;
}

.reul .box .suffix {
  padding-left: 3.125rem;
  margin-right: 3.125rem;
}

.principles-of-conduct {
  margin-left: 17.75rem;
}

.principles-of-conduct .principles-header {
  margin-bottom: 0.625rem;
}

.principles-of-conduct .principles-header .principles-title {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #000;
}

.principles-of-conduct .principles-header p {
  font-size: 1.125rem;
  color: #606060;
  margin-top: 0.5rem;
}

.principles-of-conduct .step {
  font-size: 1rem;
  color: #c40452;
  line-height: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid #cccccc;
}

.principles-of-conduct .info {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-bottom: 1.875rem;
}

.principles-of-conduct .info ul li {
  line-height: 1.125rem;
  padding-bottom: 0.5rem;
}

.principles-of-conduct .info ul li:last-child {
  padding-bottom: 0;
}

.principles-of-conduct .info ul li ul {
  padding-top: 0.5rem;
  padding-left: 0.625rem;
}

.principles-of-conduct .info ul li ul li ul {
  padding-left: 1.875rem;
}

.principles-of-conduct .info .title-box {
  color: #fff;
  background-color: #A72b2a;
  min-width: 8.125rem;
  max-width: 10rem;
  font-size: 1rem;
  line-height: 2.1875rem;
  padding-left: 0.625rem;
  margin-bottom: 0.9375rem;
}

.principles-of-conduct .info .box-title {
  font-size: 1rem;
  color: #c40452;
  line-height: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

.principles-of-conduct .info .box {
  padding: 0.625rem;
}

.principles-of-conduct .info .box.has-dot > ul > li {
  position: relative;
  padding-left: 0.625rem;
}

.principles-of-conduct .info .box.has-dot > ul > li:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0.4375rem;
  width: 0.25rem;
  height: 0.25rem;
  background-color: #3b3b3b;
}
