.panel{
  display: none;
}

.faq-accordion{
  border-top: rem(1) solid $black;
  .accordion{
    position: relative;
    padding: rem(10) rem(24);
    border-bottom: rem(1) solid $accordion-border;
    cursor: pointer;
    &:after,
    &:before{
      content: '';
      width: rem(20);
      height: rem(2);
      background-color: $bg-accordion-bar;
      position: absolute;
      right: rem(53);
      top: 50%;
      transition: all .3s ease;
    }
    &:before{
      transform:rotate(270deg);
    }
    span{
      float:left;
      font-size: rem(22);
      line-height: rem(34);
      color:$title-color;
      &:after{
        content: '';
        clear: both;
        display: block;
      }
    }
    p{
      padding-left:rem(30);
      font-size: rem(18);
      line-height: rem(34);
      padding-right: rem(80);
    }
    &.active{
      border-bottom: rem(1) solid transparent;
      &:before{
        transform: rotate(360deg);
      }
      span,p{
        font-weight: 500;
      }
      
    }
  }
  .panel{
    padding: rem(20) rem(24);
    border-bottom: rem(1) solid $accordion-border;
    span{
      font-size: rem(22);
    }
  }
  .panel{
    background-color:$bg-paenl ;
    padding-left: rem(25);
    span{
      position: absolute;
      color: $red;
      font-weight: 500;
    }
    .ask{
      font-size: rem(18);
      line-height: rem(34);
      padding-left:rem(30);
      *{
        position: relative;
        font-size: rem(18);
        line-height: rem(34);
      }
    }
  }
  .accordion-footer{
    text-align: center;
    margin-top: rem(10);
    .btn{
      font-size: rem(16);
      line-height: rem(52);
      color: $black-two;
      font-weight: 500;
    }
  }
}