.attachment-box{
  border: rem(1) solid $attachment-box-border;
  .explan{
     padding: rem(31) rem(31) rem(20) rem(31);
    ul{
      li{
        font-size: rem(14);
        line-height: rem(26);
        color: $black-two;
      }
    }
  }
  .file-list{
    display: flex;
    align-items: center;
    background-color: $table-frist-header;
    border-top: rem(1) solid $attachment-box-border;;
    padding-left: rem(29);
    .prefix{
      position: relative;
      display: flex;
      align-items: center;
      font-size: rem(13);
      line-height: rem(49);
      color: $black-two;
      i{
        margin-left: rem(14);
      }
      &:after{
        content: '';
        width: rem(1);
        height: rem(12);
        background-color: $location-border;
        position: absolute;
        right: rem(-21);
      }
    }
    .suffix{
      margin-left: rem(50);
      ul{
        display: flex;
        li{
          margin-right: rem(21);
          a{
            border-bottom: rem(1) solid $black-two;
            font-size: rem(14);
            line-height: rem(49);
          }
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }
  &.only-explan{
   .explan{
    padding: rem(15) rem(31) rem(15) rem(31);
    ul{
      li{
        margin-bottom: rem(5);
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
   }
  }
  &.only-file-list{
    border: rem(1) solid transparent;
    .file-list{
      justify-content: flex-end;
      border: rem(1) solid transparent;
      background-color: $white;
      p{
        font-size: rem(14);
        line-height: rem(49);
        color: $black;
      }
      ul{
        display: flex;
        li{
          margin-left: rem(12);
          a{
            font-size: rem(14);
            line-height: rem(49);
            color: $black;
          }
        }
      }
    }
  }
}