.box{
  border: rem(1) solid $box-border;
  &.img-box{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0;
  }
  &.shadow-box{
    box-shadow: rem(5) rem(5) rem(7) rgba($color: #000000, $alpha: 0.2);
  }
}