.btn-list{
  border-bottom: 0.0625rem solid #000;
  margin-bottom: rem(15);
  .list-title{
    font-size: 1.125rem;
    font-weight: 500;
    padding-bottom: 0.4375rem;;
    margin-bottom: 0.4375rem;
  }
  ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: rem(20);
    li{
      .btn{
        &:hover{
          background-color: #464950;
          color: #fff;
          border: rem(1) solid transparent;
        }
      }
    }
  }
}