.btn{
  display: inline-block;
  text-align: center;
  &.round-btn{
    border-radius: rem(2);
  }
  &.round2-btn{
    border-radius: rem(3);
  }
  &.btn-black{
    background-color: $btn-black;
    color: $white;
  }
  &.btn-light-gray{
    background: $btn-light-gray;
    color:$black-two ;
  }
  &.btn-sm{
    font-size: rem(13);
    padding:0 rem(20);
    line-height: rem(32);
  }
  &.btn-md{
    font-size: rem(16);
    padding: 0 rem(36);
    line-height: rem(40);
  }
  &.btn-md2{
    font-size: rem(16);
    line-height:rem(52);
    padding: 0 rem(46);
  }
  &.btn-border{
    border:  rem(1) solid $black;
    font-weight: 500;
    &.gray-border{
      border: rem(1) solid $input-border;
    }
  }
  &.btn-red{
    background-color: $red;
    color: $white;
  }
  &.btn-close{
    position: relative;
    display: inline-block;
    font-size: rem(13);
    font-weight: 500;
    color: $black-two;
    padding-left: rem(32);
    padding-right: rem(17);
    line-height: rem(26);
    i{
      position: absolute;
      left: rem(17);
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.btn-wrap{
  .btn{
    + .btn{
      margin-left: rem(10);
    }
  }
}
.file-upload-btn{
      display: inline-block;
    font-size: 0.8125rem;
    font-weight: 500;
    color: #666666;
    border: 0.0625rem solid #cccccc;
    border-radius: 0.125rem;
    padding: 0 0.875rem;
    line-height: 1.625rem;
    background-color: white;
    cursor: pointer;
}