.canon-list{
  margin-left: rem(284);
  ul{
    display: flex;
    flex-wrap: wrap;
    li{
      background-position: center;
      background-size: cover;
      width: rem(356);
      height: rem(258);
      margin-right: rem(16);
      .list-title{
        position: relative;
        text-align: center;
        font-size: rem(24);
        line-height: rem(48);
        font-weight: 300;
        padding-top: rem(110);
        color: $white;
        &:after{
          content: '';
          background-image: url(../images/double-arrow.png);
          width: rem(19);
          height: rem(16);
          background-position: center;
          background-size: cover;
          position: absolute;
          bottom: rem(15);
          left: rem(216);
        }
      }
      p{
        margin-top: rem(10);
        text-align: center;
        color: $white;
      }
      &:nth-child(1){
        background-image: url(../images/canon-img-banner.png);
        margin-bottom: rem(16);
      }
      &:nth-child(2){
        background-image: url(../images/canon-img-banner02.png);
        margin-bottom: rem(16);
      }
      &:nth-child(3){
        background-image: url(../images/canon-img-banner03.png);
        margin-bottom: rem(16);
      }
      &:nth-child(4){
        background-image: url(../images/canon-img-banner04.png);
      }
      &:nth-child(5){
        background-image: url(../images/canon-img-banner05.png);
      }
      &:nth-child(6){
        background-image: url(../images/canon-img-banner06.png);
        margin-right: 0;
      }
    }
  }
}