input[type='checkbox'] {
  position: absolute;
  width: 1px;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  + label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    &:before {
      content: '';
      display: inline-block;
      width: rem(22);
      height: rem(22);
      border: rem(1) solid $input-border;
      background-color: $white;
    }
  }
  &:checked{
    + label{
      &:before{
        border: rem(1) solid $red;
      }
      &:after{
        content: '';
        background-image: url(../images/check_on.png);
        width: rem(14);
        height: rem(10);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}