.code_of_ethics {
  .intro-banner {
    display: flex;
    align-items: center;
    p {
      position: relative;
      padding-left: rem(53);
      font-size: rem(26);
      line-height: rem(38);
      color: $title-color;
      font-weight: 500;
      &:after {
        content: '';
        position: absolute;
        left: rem(40);
        top: rem(7);
        width: rem(4);
        height: rem(26);
        background-color: $red;
      }
    }
  }
  &.has-bg{
    background-color: $bg-ethics;
    margin-top: rem(-80);
  }
  .rule-list{
    display: flex;
    justify-content: center;
    padding-top: rem(140);
    li{
      padding-right: rem(11);
      &:last-child{
        padding: 0;
      }
      a{
        font-size: rem(16);
        line-height: rem(48);
        color: $title-color;
      }
    }
  }
}