.detail-content{
  margin-bottom: rem(100);
  .content-header{
    @include flex-prefix-suffix;
    padding: 0 rem(20);
    background-color: $bg-detail-header;
    border-top: rem(1) solid $black;
    .prefix{
      font-size: rem(14);
      line-height: rem(52);
      font-weight: 500;
    }
    .suffix{
      p{
        color: $black;
        font-size: rem(14);
        line-height: rem(49);
      }
    }
    &.under-border-type{
      background-color: $white;
      border-bottom: rem(1) solid #eaeaea;
    }
  }
  .content-body{
    font-size: rem(14);
    color: $black;
    line-height: rem(28);
    padding: rem(20) rem(32);
    min-height:rem(450);
    border-bottom: rem(1) solid $table-border;
  }
  .attachments{
    display: flex;
    border-bottom: rem(1) solid $table-border;
    .left{
      display: flex;
      align-items: center;
      background-color: $bg-detail-header;
      font-size: rem(13);
      line-height: rem(49);
      color: $black;
      padding-left: rem(23);
      width: rem(130);
      i{
        margin-left: rem(14);
      }
    }
    .file-list{
      padding-left: rem(24);
      ul{
        li{
          font-size: rem(14);
          line-height: rem(49);
          color: $black;
          padding: 0 rem(5);
          a{
            font-size: rem(14);
            line-height: rem(49);
            color: $black;
            padding: 0 rem(5);
            border-bottom: rem(1) solid $black-two;
            cursor: pointer;
          }
        }
      }
    }
  }
  .content-footer{
    text-align: center;
    margin-top: rem(40);
    &.right-type{
      text-align: right;
    }
    .btn{
      + .btn{
        margin-left: rem(10);
      }
    }
  }
}