.download-list{
  display: flex;
  li{
    margin-right: rem(15);
    &:last-child{
      margin-right: 0;
    }
    a{
      border-bottom: rem(1) solid $black-two;
      cursor: pointer;
    }
  }
}