.guide-list{
  margin-top: rem(80);
  ul{
    display: flex;
    justify-content: center;
    li{
      padding:rem(23) 0 ;
      padding-right: rem(100);
      a{
        display: block;
        text-align: center;
        .img-banner{
          width: rem(200);
          height: rem(200);
          border-radius: 100%;
          background-color: #f0f0f0;
          img{
            opacity: 0.5;
          }
        }
        .text-banner{
          display: flex;
          align-items: center;
          justify-content: center;
          color: #d0d0d0;
          font-size: rem(30);
          span{
            font-size: rem(20);
            line-height: rem(38);
            color: $black-two;
            padding: 0 rem(14);
          }
        }
      }
      &:hover{
        a{
          .img-banner{
            background-color: #d8edff;
            img{
              opacity: 1;
            }
          }
          .text-banner{
            span{
              color: #333333;
              font-weight: 500;
            }
          }
        }
      }
      &:nth-child(2){
        border-right: rem(1) solid #ececec;
        padding-right: rem(60);
      }
      &:nth-child(3){
        padding-left: rem(60);
      }
      &:last-child{
        padding-right: 0;
      }
    }
  }
}