.header{
  width: 100%;
  min-width: rem(1200);
  background-color: $bg-header;
  height: rem(76);
  display:flex;
  align-items: center;
  border-bottom: rem(2) solid #eeeeee;
  &.on{
    border-bottom: rem(1) solid transparent;
    &:after{
      content: '';
      width:100%;
      height:rem(240);
      background-color: $bg-gnb-2dept;
      position: absolute;
      left: 0;
      top: rem(76);
      z-index: 99;
      border-bottom: rem(1) solid #eeeeee;
    }
  }
  .logo{
    img{
      vertical-align: middle;
    }
  }
  .wrapper{
    display:flex;
    align-items: center;
    .gnb{
      width: 100%;
      >ul{
        display: flex;
        justify-content: center;
       > li{
          position: relative;
          width: rem(165);
          text-align: center;
          &:last-child{
            margin-right: 0;
          }
          a{
            display: block;
            color: #746661;
            font-size:rem(22);
            line-height: rem(76);
            font-weight: 500;
            &:hover{
              font-weight: 700;
              color: $red;
            }
          }
          &.on{
            a{
              font-weight: $bold;
            }
            &:after{
              content: '';
              width: 100%;
              height: rem(4);
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              background-color: $red;
            }
          }
          .menudept{
            display: none;
            position: absolute;
            width: 100%;
            height:rem(240);
            z-index: 100;
            ul{
              padding-top: rem(18);
              li{
                a{
                  font-size: rem(14);
                  line-height: rem(38);
                  color:$black-two;  
                  font-weight: bold;
                  display: inline;
                }
                &:hover{
                  a{
                    color: #333333;
                    border-bottom: rem(1) solid #333333 ;
                  }
                }
              }
            }
          }
        }
        &:hover{
          .menudept{
            display: block;
          }
        }
      }
    }
  }
}
.header .wrapper .gnb:not(.on):hover:after{
  content: '';
  width:100%;
  height:rem(240);
  background-color: $bg-gnb-2dept;
  position: absolute;
  left: 0;
  top: rem(76);
  z-index: 99;
  border-bottom: rem(1) solid #eeeeee;
}