.icon-home{
  @include icon-setting;
  background-image: url(../images/ico-home.png);
  width: rem(14);
  height: rem(14);
}
.icon-clip{
  @include icon-setting;
  background-image: url(../images/ico-clip.png);
  width: rem(18);
  height: rem(16);
}
.icon-arrow-next{
  @include icon-setting;
  background-image: url(../images/arrow_next.png);
  width: rem(18);
  height: rem(10);
}
.icon-arrow-prev{
  @include icon-setting;
  background-image: url(../images/arrow_prev.png);
  width: rem(18);
  height: rem(10);
}
.icon-close{
  @include icon-setting;
  background-image: url(../images/ico-close.png);
  width: rem(6);
  height: rem(6);
}
.icon-down{
  @include icon-setting;
  background-image: url(../images/ico_down.png);
  width: rem(14);
  height: rem(14);
}