input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select{
  border: rem(1) solid $input-border; 
  padding: 0 rem(13);
  height: rem(32);
  color: $black-two;
  width: 100%;
  font-size: rem(13);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

/* Select box 스타일 초기화 */ 
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
} 

/* IE 에서 Select box 화살표 제거 */ 
select::-ms-expand { display: none; }

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}
input::placeholder,
textarea::placeholder{
  font-size: rem(13);
  color:$placeholder-color ;
}
select{
  background-image: url(../images/select_under_arrow.png);
  background-repeat: no-repeat;
  background-position:93%;
}

input[type='text']{
  &.datepicker{
    padding-left: rem(36);
  }
}
textarea{
  border: rem(1) solid $input-border; 
  width: 100%;
  padding: rem(13);
  font-size: rem(13);
}
input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  + label{
    display: inline-block;
    font-size: rem(13);
    font-weight: 500;
    color: $black-two;
    border: rem(1) solid $input-border;
    border-radius: rem(2);
    padding: 0 rem(14);
    line-height: rem(26);
    +a{
      margin-left: rem(4);
    }
  }
}
.fixed-select{
  width: rem(478);
  background-position: 97%;
}

input[type='checkbox'] {
  position: absolute;
  width: 1px;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  + label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    span{
      padding-left: rem(13);
      font-size: rem(13);
      line-height:rem(24);
      color: $black-two;

    }
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: rem(22);
      height: rem(22);
      border: rem(1) solid $input-border;
      background-color: $white;
    }
  }
  &:checked{
    + label{
      &:before{
        border: rem(1) solid $red;
        background-image: url(../images/check_on.png);
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}

input[type='radio']{
  position: absolute;
  width: 1px;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  + label{
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: rem(14);
    color:$black-two;
    padding-left: rem(28);
    &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url(../images/radio_off.png);
      width: rem(18);
      height: rem(18);
    }
  }
  &:checked{
    + label{
      &:after{
        background-image: url(../images/radio_on.png);
      }
    }
  }
}
.input-sm-type{
  width: 120px !important;
}