.section{
  width: 100%;
  min-width:$layaout-width;
  &.has-after-bg{
    position: relative;
    &:after{
      content: '';
      width: 100%;
      height: 75vh;
      background-color:#f3f5f8;
      position: absolute;
      top: rem(110);
      z-index: -1;
    }
  }
}
.wrapper{
  width: 100%;
  max-width:$layaout-width;
  margin: auto;
}
.content{
  margin-bottom: rem(10);
}
.write-content{
  margin-bottom:rem(160);
}