.left-fixed-menu{
  position: fixed;
  top:rem(260);
  ul{
    li{
      width: rem(240);
      border-bottom: rem(1) solid #cccccc;
      padding: 0 rem(14);
      a{
        display: block;
        font-size: rem(14);
        line-height: rem(48);
      }
      &:nth-child(1){
        width: 100%;
        padding: 0;
        text-align: center;
        font-size: rem(16);
        line-height:rem(48);
        background-color: #333333;
        border-bottom: rem(1) solid transparent;
        color: $white; 
        A{
          color: $white; 
        }
      }
    }
  }
}