.location{
  background-color: $bg-location;
  border-top: rem(1) solid $location-border;
  border-bottom: rem(1) solid $location-border;
  &.fixed{
    position: fixed;
    top: 0;
    z-index: 10;
  }
  ul{
    display: flex;
    li{
      a{
        height: rem(52);
        display: flex;
        align-items: center;
        border-left: rem(1) solid $location-border; 
        font-size: rem(14);
        color: $black-two;
      }
      &:last-child{
        a{
          border-right: rem(1) solid $location-border;
          color: #333333;
        }
      }
      &.home{
        a{
          width: rem(52);
          justify-content: center;
        }
      }
      &.oneDept,
      &.twoDept,
      &.threeDept{
        a{
          padding-left: rem(20);
          padding-right: rem(80);
        }
      }
      &.oneDept,
      &.twoDept,
      &.threeDept{
        position: relative;
        &:after{
          content: '';
          position: absolute;
          top: 50%;
          right: rem(20);
          transform: translateY(-50%);
          background-image: url(../images/select_under_arrow.png);
          width:rem(10);
          height: rem(6);
        }
      }
      .dropdown-menu{
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        border:rem(1) solid $location-border;
        border-top: rem(1) solid transparent;
        z-index:90;
        &.active{
          display: block;
        }
        li{
          background-color: $white;
          a{
            padding-right: 0;
            border: rem(1) solid transparent;
            
            &:hover{
              background-color: $red;
              color:$white
            }
          }
        }
      }
    }
  }
}