.main {
  display: flex;
  margin-top: rem(40);
  .box{
    border: rem(2) solid #f0f0f0;
  }
  .img-box {
    background-image: url(../images/main-img-banner.png);
    width: rem(928);
    height: rem(500);
    padding-top: rem(64);
    padding-left: rem(50);
    .main-title {
      font-size: rem(44);
      color: #333333;
    }
    p {
      font-size: rem(20);
      line-height: rem(26);
      color: #555555;
      margin-top: rem(15);
    }
  }
  .report-banner {
    margin-left: rem(18);
    .title-banner {
      text-align: center;
      background: #fafafa;
      h2 {
        font-size: rem(24);
        line-height: rem(32);
        color: #464950;
        font-weight: 500;
        padding-top: rem(35);
        span {
          font-weight: 900;
        }
      }
      p {
        font-size: rem(15);
        line-height: rem(32);
        padding-bottom: rem(23);
      }
    }
    .report-list {
      width: rem(446);
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          flex: 0 0 50%;
          padding-bottom: rem(3);
          .report-title {
            font-size: rem(12);
            line-height: rem(16);
            font-weight: 500;
            margin-top: rem(21);
            margin-left: rem(28);
          }
          .report-content {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: rem(16);
            margin-bottom: rem(11);
            p {
              font-size: rem(12);
              line-height: rem(16);
              color: $black-two;
            }
            .prefix {
              margin-right: rem(14);
            }
            .suffix {
              p {
                margin-bottom: rem(23);
              }
              .btn {
                font-size: rem(12);
                font-weight: 500;
                padding: 0 rem(22);
                height: rem(26);
                line-height: rem(26);
              }
            }
          }
          &:nth-child(1),
          &:nth-child(2) {
            border-bottom: rem(1) solid $box-border;
          }
          &:nth-child(odd) {
            position: relative;
            &:after {
              content: '';
              background-image: url(../images/height-line.png);
              background-position: center;
              background-repeat: no-repeat;
              position: absolute;
              top: 0;
              right: 0;
              width: rem(1);
              height: 100%;
            }
          }
          &:nth-child(3),
          &:nth-child(4){
            .report-content{
              .suffix{
                p{
                  margin-bottom: rem(36);
                }
              }
            }
          }
        }
      }
    }
  }
  .post-list {
    width: 100%;
    >ul{
      display: flex;
      >li{
       width: rem(455);
        margin-right: rem(18);
        &:last-child{
          margin-right: 0;
        }
      }
    }
    .box{
      padding: 0 rem(21);
      padding-bottom: rem(30)
    }
    .post-title {
      @include flex-prefix-suffix;
      border-bottom:rem(1) solid #e0e0e0;
      margin-top: rem(36);
      .prefix {
        h1{
          position: relative;
          font-size: rem(18);
          margin-bottom: rem(3);
          color: #333333;
          font-weight: 400;
          &:after{
            content: '';
            position: absolute;
            bottom:rem(-4);
            left: 0;
            width: 100%;
            height: rem(1);
            background-color: $red;
          }
        }
      }
      .suffix {
        a {
          position: relative;
          font-size: rem(13);
          line-height: rem(28);
          color: #808080;
          padding-right: rem(18);
          &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(../images/ico-plus.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: rem(10);
            height: rem(10);
          }
        }
      }
    }
    .content-list{
      ul{
        li{
          max-width: 98%;
          a{
            font-size: rem(14);
            line-height: rem(28);
            color: #606060;
            display: block;
            @include ellipsis;
          }
        }
      }
    }
  }
}
