@mixin icon-setting {
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin flex-prefix-suffix{
  display: flex;
  .prefix, .suffix{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
  }
  .suffix{
    justify-content: flex-end;
  }
}


@mixin ellipsis {
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}