.paging{
  margin-top: rem(40);
  ul{
    display: flex;
    justify-content: center;
    width: 100%;
    li{
      font-size: rem(18);
      line-height: rem(30);
      color: $black-two;
      &.first,
      &.prev,
      &.next,
      &.last{
        width: rem(30);
        a{
          position: relative;
          display: block;
          text-indent: -999px;
          overflow: hidden;
          &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: rem(30);
            height: rem(30);
          }
        }
      }
      &.first{
        margin-right: rem(8);
        a{
          &:after{
            background-image: url(../images/paging_frist.png);
          }
        }
      }
      &.prev{
        a{
          &:after{
            background-image: url(../images/paging_prev.png);
          }
        }
      }
      &.next{
        margin-right: rem(8);
        a{
          &:after{
            background-image: url(../images/paging_next.png);
          }
        }
      }
      &.last{
        a{
          &:after{
            background-image: url(../images/paging_last.png);
          }
        }
      }
      &.numbering{
        margin: 0 rem(30);
        ul{
          li{
            a{
              display: block;
              width: rem(30);
              text-align: center;
              line-height: rem(30);
            }
          }
        }
      }
      &.on{
        a{
          font-size: rem(18);
          color: $red;
        }
      }
    }
  }
}