.principles-of-conduct{
  margin-left: rem(284);
  .principles-header{
    margin-bottom: rem(10);
    .principles-title{
      font-size: rem(24);
      line-height: rem(32);
      color: $black;
    }
    p{
      font-size: rem(18);
      color: #606060;
      margin-top: rem(8);
    }
  }
  .step{
    font-size: rem(16);
    color: #c40452;
    line-height: rem(16);
    padding-bottom: rem(16);
    border-bottom: rem(1) solid #cccccc;
  }
  .info{
    margin-top: rem(16);
    font-size: rem(14);
    line-height: rem(18);
    margin-bottom: rem(30);
    ul{
      li{
        line-height: rem(18);
        padding-bottom: rem(8);
        &:last-child{
          padding-bottom: 0;
        }
        ul{
          padding-top: rem(8);
          padding-left: rem(10);
          li{
            ul{
              padding-left: rem(30);
            }
          }
        }
      }
    }
    .title-box{
      color: $white;
      background-color: $red;
      min-width: rem(130);
      max-width: rem(160);
      font-size: rem(16);
      line-height: rem(35);
      padding-left: rem(10);
      margin-bottom: rem(15);
    }
    .box-title{
      font-size: rem(16);
      color: #c40452;
      line-height: rem(16);
      padding-bottom: rem(16);
      font-weight: bold;
    }
    .box{
      padding: rem(10);
      &.has-dot{
        >ul{
          >li{
            position: relative;
            padding-left: rem(10);
            &:after{
              content: '';
              position: absolute;
              left: 0;
              top: rem(7);
              width: rem(4);
              height: rem(4);
              background-color: #3b3b3b;
            }
          }
        }
      }
    }
  }
}