.text-center{
  text-align: center !important;
}
.text-right{
  text-align: right;
}
.m-t-40{
  margin-top: rem(40);
}
.m-t-7{
  margin-top: rem(7);
}
.m-l-5{
  margin-left: rem(5);
}
.file-control{
  margin-top: rem(10);
}
.m-b-10{
  margin-bottom: rem(10);
}
.m-t-10{
  margin-top: rem(10);
}
.m-l-15{
  margin-left: rem(15);
}
.p-r-285{
  padding-right: rem(285);
}
