.reul{
  margin-top: rem(160);
  .img-banner{
    img{
      width: 100%;
    }
  }
  .lx-logo{
    margin-top: rem(70);
    text-align: center;
    p{
      font-size: rem(18);
      line-height: rem(26);
      color: #333333;
      margin-top: rem(20);
    }
  }
  .box{
    display: flex;
    background-color: $white;
    padding: rem(41);
    margin-top: rem(49);
    .prefix,
    .suffix{
      flex: 1 1 50%;
      .list-title{
        display: inline-block;
        font-size: rem(20);
        border-bottom:rem(2) solid $red ;
      }
      ul{
        margin-top: rem(20);
        li{
          a{
            color: #333333;
            font-size: rem(17);
            line-height: rem(32);
          }
          &.down-list{
            a{
              border-bottom: rem(1) solid transparent;
              i{
                margin-left: rem(10);
              }
            }
          }
        }
      }
    }
    .prefix{
      border-right: rem(1) solid #e0e0e0;
    }
    .suffix{
      padding-left: rem(50);
      margin-right: rem(50);
    }
  }
}