.select-date {
  display: flex;
  align-items: center;
  li {
    position: relative;
    padding-right: rem(10);
    input[type='text'] {
      width: rem(120);
    }
    select {
      width: rem(120);
    }
    .ui-datepicker-trigger{
      position: absolute;
      left: rem(9);
      top: 50%;
      transform: translateY(-50%);
    }
  }
}