.stock-img-banner{
  width: 100%;
  position: relative;
  margin-bottom: rem(80);
  .text-banner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: rem(32);
    line-height: rem(48);
    color: $white;
    font-weight: 500;
    span{
      display: block;
      font-size: rem(30);
      font-weight: 300;
      text-align: center;
    }
  }
}

.ethics-list{
  ul{
    li{
      display: flex;
      align-items: baseline;
      padding: rem(32) 0;
      border-top: rem(1) solid $ethics-list-boder;
      &:last-child{
        border-bottom: rem(1) solid $ethics-list-boder;
      }
      .title{
        position: relative;
        font-size: rem(22);
        line-height: rem(28);
        color: $title-color;
        margin-right: rem(82);
        font-weight: 500;
        padding-left: rem(44);
        &:after{
          content: '';
          width: rem(1);
          height: rem(18);
          background-color:$location-border ;
          position: absolute;
          right: rem(-39);
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .ethics-content{
        font-size: rem(16);
        line-height: rem(22);
        color: $black-two;
        p{
          line-height: rem(30);
        }
      }
    }
  }
}