.table-search{
  @include flex-prefix-suffix;
  margin-bottom: rem(13);
  .prefix{
    font-size: rem(13);
    line-height: rem(52);
    color:$fc-gray;
    span{
      color: $fc-red;
    }
  }
  .suffix{
    ul{
      display: flex;
      align-items: center;
      li{
        &.colum{
          margin-right: rem(4);
          select{
            width: rem(106);
          }
        }
        &.date-list{
          ul{
            display: flex;
            li{
              position: relative;
              input[type='text']{
                width: rem(120);
                padding-left: rem(34);
              }
              img{
                position: absolute;
                left: rem(8);
                top: 50%;
                transform: translateY(-50%);
              }
              &:nth-child(2){
                margin: 0 rem(10);
              }
            }
          }
        }
        &.category{
          margin-left: rem(14);
          select{
            width: rem(130);
          }
          &.la-type{
            select{
              width: rem(200);
            }
          }
        }
        &.search-bar{
          margin:0 rem(5); 
          input[type="text"]{
            width: rem(260);
          }
        }
      }
    }
  }
}