.table{
  tr{
    // &:nth-child(1){
    //   th,td{
    //     border-top: rem(1) solid $black;
    //   }
    // }
    th,td{
      text-align: center ;
      height: rem(40);
      border-top: rem(1) solid $table-border;
      border-bottom: rem(1) solid $table-border;
      font-size: rem(14);
      vertical-align: middle;
      border-collapse:collapse;
    }
    th{
      font-weight: 500;
      &.bg-white{
        background-color: $table-frist-header !important;
        border-right: rem(1) solid $table-border;
      }
      &.bg-blue{
        background-color: $table-blue-bg;
        border-right: rem(1) solid $table-border;
        border-left: rem(1) solid $table-border;
      }
    }
    td{
      padding-left: rem(10);
      padding-right: rem(10);
      &.title{
        @include ellipsis;
      }
    }
    &.light-white-bg{
     th{
      background-color: #f5f5f5;
     }
    }
    &.center-colum{
      td{
        text-align: center !important;
      }
    }
    &.left-colum{
      td{
        text-align: left !important;
      }
    }
  }
  &.write-form{
    tr{
      th,td{
        padding-top: rem(7);
        padding-bottom: rem(7);
      }
      td{
        text-align: left;
      }
    }
  }
  &.write-form-b{
    tr{
      td{
        padding:rem(7) rem(20);
        text-align: left;
        &.textarea{
          padding: rem(20);
          textarea{
            height: rem(280);
          }
        }
      }
      th,td{
        border-bottom: rem(1) solid $table-border;
      }
    }
  }
  &.file-list-table{
    border: rem(1) solid $input-border;
    margin-top: rem(10);
    margin-bottom: rem(47);
    tr{
      th{
        background-color: $file-list-table-bg;
        border-right: rem(1) solid $input-border;
        border-top: rem(1) solid $input-border;
      }
      th,td{
        font-family: 'Dotum';
        font-size: rem(12);
        padding: rem(6);
        height: auto;
      }
      td{
        text-align: center !important;
        &:nth-child(2){
          text-align: left !important;
        }
      }
    }
    input[type='checkbox']{
      +label{
        &:before{
          width: rem(10);
          height: rem(10);
          border-radius: rem(2);
        }
      }
      &:checked{
        + label{
          &:after{
            width: rem(10);
            height: rem(10);
          }
        }
      }
    }
  }
  &.td-left{
    tr{
      td{
        text-align: left;
      }
    }
  }
}
.table-footer{
  text-align: right;
  margin-top: rem(20);
  .btn{
    + .btn{
      margin-left: rem(5);
    }
  }
  &.has-margin{
    margin-bottom: rem(100);
  }
}

.table-border-top{
  border-top:rem(1) solid $black;
}
.checkbox-colum{
  display: flex;
  input[type='checkbox']{
    + label{
      flex: 1 1 50%;
    }
  }
}
.none-data{
  line-height: rem(400);
  text-align: center;
  &.has-border{
    border-top:rem(1) solid $input-border;
    border-bottom: rem(1) solid $input-border;;
  }
}

.left-table{
  tr{
    td{
      text-align: left;
    }
  }
}