.tab-content{
  display: none;
  &.current{
    display: block;
  }
}

.tab-banner{
  ul{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: rem(60);
    li{
      text-align: center;
      border: rem(1) solid #e0e0e0;
      border-right: 1px solid transparent;
      border-bottom: 1px solid transparent;
      height: rem(60);
      flex: 1 1 21%;
      a{
        display: block;
        font-size: rem(16);
        line-height: rem(60);
        color:#666666;
      }
      &:nth-child(4),
      &:nth-child(8){
        border-right: rem(1) solid #e0e0e0;
      }
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8){
        border-bottom: rem(1) solid #e0e0e0;
      }
      &.current{
        border: rem(2) solid $red;
        a{
          color: $red;
        }
      }
    }
  }
}