.table-type-paging{
  border-top: 1px solid $placeholder-color;
  border-bottom: 1px solid $placeholder-color;
  margin-top: rem(20);
  ul{
    li{
      &.prev{
        border-bottom: rem(1) solid $table-border;
      }
      &.prev,
      &.next{
        display: flex;
        align-items: center;
        padding: 0 rem(20);
        .post{
          position: relative;
          width: rem(130);
          font-size: rem(15);
          line-height: rem(49);
          border-right: rem(1) solid $table-border;
          i{
            margin-left:rem(37);
          }
        }
        .post-info{
          display: flex;
          width: 100%;
          font-size: rem(14);
          line-height: rem(49);
          padding-left: rem(20);
          .post-title{
            flex: 1 1 auto;
          }
          .date{
            justify-content: flex-end;
          }
        }
      }
    }
  }
}