.page-title{
  font-size: rem(36);
  line-height:rem(52);
  font-weight:500;
  color: $title-color;
  text-align: center;
  margin-top: rem(20);
  margin-bottom: rem(60);
}

.table-title{
  font-size: rem(18);
  font-weight: 500;
  margin-bottom: rem(7);
}
.title-has-btn{
  @include flex-prefix-suffix;
  margin-bottom: rem(12); 
  .table-title{
    margin: 0;
  }
  .btn{
    + .btn{
      margin-left: rem(10)
    }
  }
}
.title-has-checkbox{
  @include flex-prefix-suffix;
}