.tooltip{
  position: relative;
  .tooltiptext{
    visibility: hidden;
    background-color:$black ;
    text-align: center;
    border-radius: rem(6);
    padding: rem(5) 0;
    position: absolute;
    z-index: 2;
    &:after{
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 5px;
    }
  }
  &:hover{
    .tooltiptext {
      visibility: visible;
    }
  }
}