$white:#fff;
$black:#000;
$black-two:#666666;
$gray:#777777;
$red:#A72b2a;

$fc-gray:$gray;
$fc-red:$red;

$btn-black:#464950;
$btn-light-gray:#dddddd;

$bg-header:$white;
$bg-lnb:#f8f8f8;
$bg-location:#f8f8f8;
$bg-detail-header:#f5f5f5;
$table-frist-header:#fafafa;
$table-blue-bg:#f8f9ff;
$file-list-table-bg:#eeeeee;
$bg-accordion-bar:#464950;
$bg-paenl:#f8f8f8;
$bg-ethics:#f1f3f7;
$bg-gnb-2dept:#fafafa;

// font
$light: 300;
$normal: 400;
$semi-bold: 500;
$bold: 600;


$layaout-width:rem(1400);

$title-color:#333;
$placeholder-color:#c0c0c0;

$input-border:#cccccc;
$location-border:#dddddd;
$table-border:#eaeaea;
$attachment-box-border:#dddddd;
$ethics-list-boder:#dddddd;
$accordion-border:#cccccc;
$box-border:#f0f0f0;

