.visual-img-banner{
  display: none;
  background-image: url(../images/visual-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  .title{
    font-size: rem(42);
    line-height: rem(52);
    color: $white;
    font-weight: $normal;
    padding-top: rem(39);
  }
  p{
    font-size: rem(14);
    line-height: rem(52);
    font-weight: $light;
    color: $white;
    padding-top: rem(5);
    padding-bottom: rem(30);
  }
}