.window-popup{
  width: rem(900);
  padding: rem(40) rem(20) ;
  .popup-title{
    font-size: rem(20);
    line-height: rem(38);
    color: #333333;
    border-bottom: rem(2) solid $red;
    margin-bottom: rem(40);
  }
  .title-list{
    >li{
      display: flex;
      flex-wrap: wrap;
      font-size: rem(16);
      line-height: rem(24);
      font-weight: 500;
      color: #333333;
      div{
        display: inline-block;
        min-width: rem(566);
        max-width: rem(780);
        text-align: justify;
      }
      .title-list{
        padding-left: rem(25);
      }
    }
  }
  .sub-title{
    font-size: rem(16);
    line-height: rem(24);
    font-weight: 500;
    color: #333333;
    margin-top: rem(40);
  }
  .sub-dept-list{
    >li{
      font-size: rem(14);
      line-height: rem(24);
      color:#333333;
      padding-left:rem(20);
    }
    &.has-bar{
      >li{
        position: relative;
        &:after{
          content: '';
          position: absolute;
          top: rem(11);
          left: rem(14);
          width: rem(4);
          height: rem(1);
          background-color:#666666;
        }
      }
      &.cirlce-type{
        >li{
            &:after{
            height: rem(4);
            background-color: #3b3b3b;
            left: rem(10);
        
          }
        }
      }
    }
  }
  .popup-footer{
    margin-top: rem(15);
    text-align: center;
  }
  .text-bar{
    font-size: rem(14);
    line-height: rem(24);
    color: $black-two;
  }
  .img-banner{
    width: 100%;
    img{
      width: 100%;
    }
  }
}